header {
    height: 180px;
    line-height: 80px;
    margin-bottom: 2%;
    position: relative;
    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: inherit;

        .logo {
            height: 100%;
            cursor: pointer;
        }
    }
    nav {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: end;

        p {
            a{
                display: block;
                font-size: 15px;
                text-align: center;
                line-height: 40px;
                padding: 0 20px;
                color: #7e7e7e;
            }
            &.on a {
                color: #000;
                font-weight: bold;
            }
            &:hover a {
                color: #000;
                font-weight: bold;
            }
        }
    }
    div {
        display: flex;
        position: absolute;
        top: 5px;
        right: 13px;
        p {
            font-size: 11px;
            padding: 0 8px;
            color: #7e7e7e;
            text-transform: capitalize;
            margin-left: 5px;
        }
    }
}
