@charset "UTF-8";
.formLogo {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding: 0 0 35px;
}

.banner {
  width: 100%;
  height: 23vw;
  background: url(../../../public/img/banner.jpg) 50% 50% no-repeat;
  background-size: cover;
  margin: 0px 0 100px;
}

.mainBookList4 {
  display: flex;
  height: 335px;
  justify-content: center;
  margin: 50px 0 100px;
}
.mainBookList4 > .imgContainer {
  width: 22%;
  margin: 0 1.5%;
}
.mainBookList4 > .imgContainer > div:first-child {
  height: 100%;
}
.mainBookList4 > .imgContainer > div:first-child > a {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* X축 Y축 그림자 크기, 색상 */
  overflow: hidden;
}
.mainBookList4 > .imgContainer > div:first-child > a img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}
.mainBookList4 > .imgContainer > div:first-child > a img:hover {
  transform: scale(1.1);
}

.mainBookList3 {
  display: flex;
  height: 335px;
  justify-content: center;
  margin: 50px 0 100px;
}
.mainBookList3 > .imgContainer {
  width: 30.3333%;
  margin: 0 1.5%;
}
.mainBookList3 > .imgContainer > div:first-child {
  height: 100%;
}
.mainBookList3 > .imgContainer > div:first-child > a {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* X축 Y축 그림자 크기, 색상 */
  overflow: hidden;
}
.mainBookList3 > .imgContainer > div:first-child > a img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}
.mainBookList3 > .imgContainer > div:first-child > a img:hover {
  transform: scale(1.1);
}

.mainBookList2 {
  display: flex;
  height: 400px;
  justify-content: center;
  margin: 50px 0 100px;
}
.mainBookList2 > .imgContainer {
  width: 47%;
  margin: 0 1.5%;
}
.mainBookList2 > .imgContainer > div:first-child {
  height: 100%;
}
.mainBookList2 > .imgContainer > div:first-child > a {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* X축 Y축 그림자 크기, 색상 */
  overflow: hidden;
}
.mainBookList2 > .imgContainer > div:first-child > a img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}
.mainBookList2 > .imgContainer > div:first-child > a img:hover {
  transform: scale(1.1);
}

.mainBookList1 {
  display: flex;
  height: 400px;
  justify-content: center;
  margin: 50px 0 100px;
}
.mainBookList1 > .imgContainer {
  width: 52%;
  margin: 0 1.5%;
}
.mainBookList1 > .imgContainer > div:first-child {
  height: 100%;
}
.mainBookList1 > .imgContainer > div:first-child > a {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* X축 Y축 그림자 크기, 색상 */
  overflow: hidden;
}
.mainBookList1 > .imgContainer > div:first-child > a img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}
.mainBookList1 > .imgContainer > div:first-child > a img:hover {
  transform: scale(1.1);
}

.mainSLide {
  margin: 50px 0 100px;
}
.mainSLide .swiper {
  height: 23vw;
  padding: 1%;
}
.mainSLide .swiper .swiper-slide {
  height: 100%;
}
.mainSLide .swiper .swiper-slide > div {
  height: 100%;
}
.mainSLide .swiper .swiper-slide > div > .imgList {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* X축 Y축 그림자 크기, 색상 */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
.mainSLide .swiper .swiper-slide > div > .imgList img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}
.mainSLide .swiper .swiper-slide > div > .imgList img:hover {
  transform: scale(1.1);
}

.title {
  font-size: 16px;
  line-height: 30px;
  padding-top: 3%;
  margin: 3% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  color: #888;
  font-size: 13px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(121, 207, 207) !important;
}

.subTitle {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  color: #888;
  display: flex;
  align-items: center;
}
.subTitle::before {
  content: "";
  display: block;
  width: 35px;
  height: 1px;
  background-color: #888;
  margin-right: 5px;
}

.landingSection {
  padding-bottom: 80px;
}
.landingSection.landingChart {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.landingSection.landingChart div {
  width: 49%;
}

.noBook {
  padding: 20px;
  margin-top: 50px;
  font-size: 20px;
}

.rc-pagination {
  text-align: center;
  margin-top: 30px !important;
}/*# sourceMappingURL=main.css.map */