
.formLogo {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding: 0 0 35px;
}


.mainSLide {
    margin-top: 50px;
    .swiper{
        height: 26vw;
        .swiper-slide{
            height: 100%;
            div{
            height: 100%;

            .listSlide {
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* X축 Y축 그림자 크기, 색상 */
                transition: box-shadow 0.3s ease-in-out; /* 그림자 효과에 애니메이션을 적용 */
                transition: transform 0.3s;
                width: 100%;
                &:hover {
                    transform: scale(.9);
                }
            }

            }
            
        }
   
    }

    .title {
        font-size: 16px;
        line-height: 30px;
        padding-top: 3%;
        margin: 3% 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .author {
        color: #888;
        font-size: 13px;
    }
}

.swiper-pagination-bullet-active {
    background-color: rgb(121, 207, 207) !important;
}

.landingSection{
    padding-bottom: 80px;
    h2{
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        color : #888;
        display: flex;
        align-items: center;
        &::before{
            content: '';
            display: block;
            width: 35px;
            height: 1px;
            background-color: #888;
            margin-right: 5px;
        }
    }
    &.landingChart{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        div{
            width: 49%;
        }
    }
    
}

.noBook{
    padding: 20px;
    margin-top: 50px;
    font-size: 20px;
}