@use '../mixin' as m;

.signup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.signForm {
    width: 300px;
    margin: 0 auto;
    div {
        margin-bottom: 35px;
        width: 100%;
        text-align: left;
        input {
            margin-bottom: 10px;
            padding: 6px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #888;
            outline: none;
        }
    }
    .signId {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 50px;
        button {
            width: 35%;
            text-align: center;
            padding: 8px 0px;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 14px;
            @include m.button;

        }
        input {
            width: 56%;
        }
    }
    .signemail {
        display: flex;
        input {
            width: 55%;
        }
        .signemailselect {
            margin-left: 20px;
            padding: 3px 5px;
            width: 40%;
            height: 33px;
        }
    }
    .signcheckBtn {
        margin-bottom: 0;
        display: flex;
        justify-content: space-evenly;
        button {
            @include m.button;
            width: 40%;
            font-size: 14px;
            padding: 10px 0px;
            border-radius: 5px;
            &.signcancel {
                background-color: #a8a8a8;
            }
        }
    }
}