@use '../mixin' as m;

.signup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .noticeTxt{
        display: block;
        width: 100%;
        text-indent: 10px;
        font-size: 12px;
        color: rgb(193, 3, 3);
        text-align: left;
    }
}
.signForm {
    width: 400px;
    margin: 0 auto;
    div {
        margin-bottom: 35px;
        width: 100%;
        text-align: left;
        input {
            margin-bottom: 10px;
            padding: 6px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #888;
            outline: none;
        }
    }
    .signId {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 50px;
        button {
            @include m.button;
            width: 35%;
            text-align: center;
            padding: 8px 0px;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 13px;

        }
        input {
            width: 56%;
        }
    }
    .signemail {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        input {
            width: 170px;
        }
        .signemailselect {
            padding: 3px 5px;
            width: 127px;
            height: 33px;
        }
        button{
            @include m.button;
            font-size: 13px;
            border-radius: 5px;
            height: 33px;
            padding: 0px 14px;
        }
        .mailCheckNum{
            margin-top: 10px;
            width: 95%;
        }
    }
    .signcheckBtn {
        margin-bottom: 0;
        display: flex;
        justify-content: space-evenly;
        button {
            @include m.button;
            width: 40%;
            font-size: 14px;
            padding: 10px 0px;
            border-radius: 5px;
            &.signcancel {
                background-color: #a8a8a8;
            }
        }
    }
}