/* ReviewPopup.scss */
$primary-color: #777;
$hover-color: darken($primary-color, 10%);
$border-color: #ccc;
$rating-active-color: #ffd700;

.review-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  .review-popup-inner {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      text-align: center;
      margin: 15px 0 7px;
    }
    .scoreBox {
      justify-content: center;
      button {
        cursor: pointer;
      }
    }

    textarea {
      display: block;
      width: 80%;
      height: 100px;
      margin: 20px auto;
      overflow-y: auto;
      padding: 0.5rem;
      border-radius: 4px;
      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    .reviewBtn {
      display: flex;
      justify-content: center;
      button {
        background-color: $primary-color;
        margin: 0 5px;
        color: white;
        padding: 8px 0px;
        width: 80px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
